<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Developer Profile</title>

<style>

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
    .body123{
    color:white;
}

.logoutLblPos{

   position:fixed;
   right:10px;
   top:5px;
}
           
.b{   
  animation-duration: 2000ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}

p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
.panel-back {
    background-color:#F8F8F8;

}
   .noti-box {
min-height: 100px;
padding: 20px;
}

    .noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
    .bg-color-green {
background-color: #00CE6F;
color: #fff;
}
 .bg-color-blue {
background-color: #A95DF0;
color: #fff;
}

  .bg-color-brown {
background-color: #B94A00;
color: #fff;
}
</style>

   
  </head>

<body>
<div ng-app="MtaaS" data-ng-controller="MtaaS1">

	<form name="mainform">		
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" ng-click = "home()">MTaaS Crowdsourcing</a>
                    <form class="navbar-form navbar-right">
                       
             
          </form>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            
            <li><a href="#" ng-click="statistics()">View Stats</a></li>
               
              
          </ul>
          <div class = "body123">
          
        
	          <label class="logoutLblPos"><h6><span id="time"></span>
	          <a type="submit" align="right" class="btn btn-success" ng-click="logoutsession()" role="button" >Logout</a>
	          </label> </h6></div>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="container">

<div class="jumbotron">
          <table  style="width:30%" >
              
              <h2> <font color="blue"><div ng-repeat="a in admin"> Welcome {{a.username}},</div></font></h2>
              
              
              
              
              
               <p>Welcome to your Software,</p>
	            <p>To view the status of your software, please use the above navigation. </p>
			
		
			</table>
				</div>
        <div class = "container">
                <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-bars"></i>
                </span>
                <div class="text-box" >
                    <div ng-repeat = "c in testerscount">
                    <p class="main-text">{{c.tester_id}} Testers</p>
                    
                    </div>
                </div>
             </div>
		     </div>
                    <div class="col-md-4 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-blue set-icon">
                    <i class="fa fa-bars"></i>
                </span>
                <div class="text-box" >
                    <div ng-repeat = "cd in developerscount">
                    <p class="main-text">Providers {{cd.developer_id}}</p>
                    </div>
                </div>
             </div>
		     </div>
                    <div class="col-md-4 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-brown set-icon">
                    <i class="fa fa-bars"></i>
                </span>
                <div class="text-box" >
                    <div ng-repeat = "cp in projectscount">
                    <p class="main-text">Projects {{cp.projectdetails_id}}</p>
                    
                </div>
             </div>
		     
			
        </div><!--/.col-xs-12.col-sm-9-->

       </div><!--/row-->
    </div><!--/.container-->

<script>
	   var app=angular.module('MtaaS', []);
	 app.controller('MtaaS1', ['$scope', '$http', '$window', function ( $scope,$http,$window)
	 {
	 	
			   		$http({
			 method: 'GET',
			 url: '/checklogin'
			 }).
			 then(function(response)
			 {
			 	if(response.data.status===300)
			 	{
			 	$window.location.href='/';
			 	}
			 });
   
			  $scope.logoutsession= function () {
			 //alert("in logout session");
			 $http({
			 method: 'GET',
			 url: '/logoutsession'
			 }).
			then(function(response)
			 {
			 	if(response.data.status===300)
			 	{
			 	console.log("destroy session");
			 	}else
			 	{
			 	$window.location.href='/';
			 	}
			 });
			 }   
              $http({
			   	  method: 'GET',
			   	  url: '/adminusername'
		          }).
			      then(function(response) 
			      {
			         $scope.admin = angular.fromJson(response.data.result);
		    }); 
         $scope.counttesters = function() {
	   		    	$http({
	   		            method: 'GET',
	   		            url: '/counttesters',
	   		            }).success(function(response){
	   		           		//alert(JSON.stringify(response));
	   		           		$scope.testerscount= JSON.parse(response.result);
	   		        }).error(function(error){
	   		            alert("ERROR VIEWING PENDING CUSTOMER REQUEST");
	   		        });
	   		    }; 
	   		 $scope.counttesters();
	   		 
	   		  $scope.countdevelopers = function() {
	   		    	$http({
	   		            method: 'GET',
	   		            url: '/countdevelopers',
	   		            }).success(function(response){
	   		           		//alert(JSON.stringify(response));
	   		           		$scope.developerscount= JSON.parse(response.result);
	   		        }).error(function(error){
	   		            alert("ERROR VIEWING PENDING CUSTOMER REQUEST");
	   		        });
	   		    }; 
	   		 $scope.countdevelopers();
	   		 
	   		   $scope.countprojects = function() {
	   		    	$http({
	   		            method: 'GET',
	   		            url: '/countprojects',
	   		            }).success(function(response){
	   		           		//alert(JSON.stringify(response));
	   		           		$scope.projectscount= JSON.parse(response.result);
	   		        }).error(function(error){
	   		            alert("ERROR VIEWING PENDING CUSTOMER REQUEST");
	   		        });
	   		    }; 
	   		 $scope.countprojects();
 

				   
				 
					  $scope.statistics = function (){
					   $window.location.href = '/statistics';
					}
					
					
					
}]);
</script>
<script>
    var today = new Date();
document.getElementById('time').innerHTML=today;
    </script>
    </body></html>

