<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
  
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">  
  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>MTaas Crowdsourcing</title>
     </head>

  <body>
  

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
       
          <a class="navbar-brand" >MTaaS Crowdsourcing </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
       
            </div>
            <div class="form-group">
         
            </div>
          
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
	
    <div class="container">
  <h2>Panel Heading</h2>
  <div class="panel panel-default">
    <div class="panel-heading"><h2><strong>Terms and Conditions for MTaaS Crowdsourcing Services</strong></h2></div>
	<div class="panel-body"><p align=justify>Please carefully review the terms and conditions set forth below before using the MTAAS website (the "Site"). 
	The terms "You", "Your", "User", "Users", or "Members" refer to anyone accessing our services or the Site for any reason. The terms "MTAAS", "We", "Us", or "Our" refer 
	to Applause, Inc. Your use of the Site is conditioned upon your acceptance of, and compliance, with the terms, 
	conditions, restrictions and notices contained herein .MTAAS may amend or modify these Terms of Use without notice at any time by updating this posting. 
	Your continued use of the Site after any modifications to the Terms of Use constitutes your agreement to be bound by all such modifications.</p><br/>
	<h3>General Applicable Terms and Conditions</h3><br/>
	<h4>Links to third party sites</h4>
	<p align=justify>Links to third-party websites The Site may contain links to third-party websites. We do not monitor or control the linked sites, and we are not responsible for the contents of any linked site. We provide these links as a convenience only, and a 
	link does not imply endorsement of, sponsorship of, 
	or affiliation with the linked site by MTAAS. You should make whatever investigation you feel necessary or appropriate before proceeding 
	with any transaction with any of these third parties. </p></br>
	<h4>Limitations of Liability;Disclaimers of Warranties</h4>
	<p align=justify>Provisions Applicable to Customers Any Company making use of the Site hereby acknowledges and agrees that, with respect to testing services, 
	MTAAS may, without liability hereunder and for the purpose of testing only, provide your company's confidential information to Testers which have entered into 
	non-disclosure agreements with MTAAS. You may require, through MTAAS's platform, such Testers participating in the testing of your company's technology agrees to 
	a non-disclosure agreement directly with MTAAS prior to such testing. MTAAS shall retain all right,
	title and interest in and to its pre-existing materials, software, technologies, methodologies, and know-how, including but not limited to its proprietary software- 
	("SAAS") platform which is currently accessible at the URL's "MTAAS.com”.</p></br>
	<ul style="list-style-type:disc">
	<li><h5>Limitations on communication between users</h5></li>
	<p align= justify>Except for communications between Companies and Testers regarding projects for which the Testers are providing testing services to the Company, You are prohibited from making 
	direct contact or engaging in any transaction, including commercial transactions, with other Users, whether through the Site or otherwise. You agree not 
	to post Your e-mail address, phone number, or any other method of contact outside of the Site or give any of the foregoing information to another User.</p></br>
	<li><h5>Rights in Site Content </h5></li>
	<p align=justify>Unless otherwise indicated, the Site Content, including all images, illustrations, icons, designs and written and other materials that appear on the Site are copyrights, trademarks, trade dress or other intellectual property owned, controlled, or licensed by MTAAS 
	or its affiliates or are the property of their respective owners and are protected by U.S. and international copyright laws and conventions. Accessing 
	the MTAAS.com web site does not authorize Users to use any name, logo, trademark or service mark in any manner. Permission is granted to display, download 
	and print in hard copy format other resources of the Site solely for the purpose of using the Site as an internal or personal business resource. </p></br>
	</ul>
	<h4>Use of Cookies</h4>
	<p align=justify>A cookie is a piece of data stored on the user's computer tied to information about the user. Cookies are used to manage sessions on our site. 
	We do not and will not use cookies to collect private information from any user which they did not intentionally submit to us.</p><br/>
	<h4>Provisions Applicable To All Application Providers</h4>
	<p align=justify>
	<ul style="list-style-type:disc">
  <li>A Company must either accept or decline new Test Artifacts reported by Testers by the earlier 
  of (i) the tenth (10th) day following the receipt of an applicableTest Artifacts report from Testers, or (ii) the date that the testing project cycle is closed 
  (hereafter, the "Acceptance Period"). </li>
  <li>You agree to pay MTAAS for all Test Artifacts which are either approved during the Acceptance Period or which are not timely declined during the 
  Acceptance Period (i.e. which shall be deemed to constitute acceptance by you). You are responsible for the timely analysis, testing, approving and fixing of bugs and 
  other Test Artifacts reported by Testers.</li>
  <li>	You agree not to use your MTAAS.com account to post false or misleading project descriptions. You may not post project descriptions that are inappropriate for 
  MTAAS's audience, viewers, or visitors, as more fully described below. 
  You shall not falsify your identity or the identity of any third-party. You agree to comply with all of MTAAS's specified policies. </li>
  <li>	You represent and warrant that your content will not include incomplete, false or inaccurate information about your Company, any User or any other individual. You hereby agree to indemnify MTAAS and its affiliates from and against any costs, 
  expenses liabilities and fees (including legal fees) relating to any claims which result from or relate to your breach of these Terms of Use.</li>
  <li>You agree and acknowledge that MTAAS may aggregate and share anonymous information with third parties, including data related to general testing time, standards, average number of bugs found and other Test Artifacts reported, the number of bugs fixed, 
  and additional aggregated statistical reports regarding Companies' applications that are being or have been tested. MTAAS will not specify any Company's name or provide personal information relating to the Company (including e-mail addresses, 
  accounts or financial information</li>
  <li>You agree not to solicit (other than by general advertisement), or hire, any employee or subcontractor of MTAAS(including, without limitation, any Tester which performs testing services for MTAAS) either on behalf of Your Company, 
  or on behalf of any other company during the term of this Agreement and for a period of one year thereafter. </li>
  <li>MTAAS engages Testers to evaluate and provide software testing services. No guarantee is given that any or all test artifacts, including, but not limited to, bugs, test cases, test data, test scripts, 
  and other test artifacts implemented by MTAAS from time to time, (collectively, "Test Artifacts") in connection with a Company's software will be found, diagnosed, or resolved 
  as a result of engaging Testers through the Site. </li>
</ul>  
	</p></br>
	<h4>By registering as a Tester, you expressly consent to the following:</h4>
	<p align=justify>
	<ul style="list-style-type:disc">
	<li>You consent to the collection, use, disclosure and processing 
	of your personal data in the manner described in our Agreement, including our procedures relating to cookies, IP addresses and log files.</li>
	<li>Our servers are based in the United States, so your personal data will be primarily processed by us in the United States. You consent to the transfer and processing of your personal data in the United States</li>
	<li>You consent to us sharing your personal data with relevant persons working for service providers who assist us to provide our services and as may be required by law.</li>
	<li>If you have enabled cookies on your web browser, you consent to our use of cookies as described in the agreement. If you have any questions about privacy, please contact us at support@MTAAS.com.</li>
	</ul>
	</p>
	
	</div>
	</div>
	</div>
	</body>
	</html>