<!DOCTYPE html>
	<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		    <meta charset="utf-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		    <meta name="viewport" content="width=device-width, initial-scale=1">
		    <meta name="description" content="">
		    <meta name="author" content="">		
			<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
			<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <title>Exit</title>
<body>
    
    
  <p>  <h1><center><b>Thank You</b> </center></h1></p>
        <p>Your payment is successful</p>
<script >
    var app=angular.module('MtaaS', [])
 app.controller('MtaaS', ['$scope', '$http', '$window', function( $scope,$http,$window)
 {
 $http({
				 method: 'GET',
				 url: '/checklogin'
				 }).
				 then(function(response)
				 {
				if(response.data.status===200)
			 	 {
			 	 $window.location.href='/';
			 	 }
				 });
      $scope.logoutsession= function () {
			 $http({
			 method: 'GET',
			 url: '/logoutsession'
			 }).
			then(function(response)
			 {
			 	if(response.data.status===300)
			 	{
			 	console.log("destroy session");
			 	}else
			 	{
			 	$window.location.href='/';
			 	}
			 });
			 } 
              
 }]);
     
     
     
        </script>
        </body>
</html>